* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Kanit', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    color: black;
    padding-bottom: 5%;
}

.infotext {
    font-size: 1rem;
}

.sec1 {
    color: black;
    background-color: white;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.sec2 {
    color: black;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.sec3 {
    color: black;
    background-color: white;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.sec4 {
    color: black;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.sec5 {
    color: black;
    background-color: white;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.sectionheader {
    padding-left: 1%;
}

.subheader {
    padding-left: 1%;
    font-size: 20px;
    font-weight: 700;
}

.paragraph {
    padding-left: 1%;
    display: block;
}

.videocontainer {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    height: auto;
    width: auto;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

iframe:nth-child(1) {
    right: 50%;
}

iframe:nth-child(2) {
    right: -50%;
}

.app h1 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid #000000;
}

.quiz {
    padding-top: 2%;
    padding-bottom: 20%;
}

.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
    padding-left: 2%;
    padding-top: 2%;
}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 2px solid #226de4;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #226de4;
}

.btn:disabled {
    cursor: no-drop;
}

#answer-buttons{
    margin: 0 25%;
    width: 50%;
}

#next-btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 150px;
    border: 2px solid #226de4;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
    transition-duration: 0.4s;
}

#next-btn:hover {
    background: #226de4;
    color: black;
}

.correct {
    background: #37d525;
}

.incorrect {
    background: #ea1c1c;
}

.qrcode {
	height: 50px;
    width: 50px;
}
